#cookie-notice {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size:13px;
	height:auto;
	left:0;
	line-height:20px;
	min-width:100%;
	position:fixed;
	text-align:center;
	z-index:100000;
}

#cookie-notice.cn-animated {
	-webkit-animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	animation-duration:.5s;
	animation-fill-mode:both;
}

#cookie-notice.cn-animated.cn-effect-none {
	-webkit-animation-duration:0;
	animation-duration:0;
}

.cn-position-top {
	top:0;
}

.cn-position-bottom {
	bottom:0;
}

.cookie-notice-container {
	padding:15px;
	text-align:center;
	width:100%;
	z-index:2;
}

.cookie-revoke-container {
	padding:15px;
	width:100%;
	z-index:1;
}

.cn-close-icon {
	height:15px;
	margin-top:-7.5px;
	opacity:0.5;
	position:absolute;
	right:15px;
	top:50%;
	width:15px;
}

.cn-close-icon:hover {
	opacity:1;
}

.cn-close-icon:before,.cn-close-icon:after {
	background-color:#fff;
	content:' ';
	height:15px;
	position:absolute;
	width:2px;
}

.cn-close-icon:before {
	transform:rotate(45deg);
}

.cn-close-icon:after {
	transform:rotate(-45deg);
}

#cookie-notice .cn-revoke-cookie {
	margin:0;
}

.cn-button.wp-default,.cn-button.wp-default:hover,.cn-button.bootstrap,.cn-button.bootstrap:hover {
	box-shadow:none;
	text-decoration:none;
}

#cookie-notice .cn-button {
	margin-left:10px;
}

.cn-button.wp-default {
	background:linear-gradient(tobottom,#FEFEFE,#F4F4F4) repeat scroll 0 0 #F3F3F3;
	border-color:#BBB;
	border-radius:3px 3px 3px 3px;
	border-style:solid;
	border-width:1px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-family:sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:18px;
	outline:none;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:0 1px 0 #FFF;
	white-space:nowrap;
}

.cn-button.wp-default:hover {
	background:linear-gradient(tobottom,#FFFFFF,#F3F3F3) repeat scroll 0 0 #F3F3F3;
	border-color:#999;
	color:#222;
}

.cn-button.bootstrap {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#04c;
	background-image:linear-gradient(tobottom,#0088cc,#0044cc);
	background-repeat:repeat-x;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-radius:3px;
	border-style:solid;
	border-width:1px;
	box-shadow:0 1px 0 rgba(255,255,255,.2) inset, 0 1px 2px rgba(0,0,0,.05);
	color:#fff;
	cursor:pointer;
	display:inline;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	font-family:sans-serif;
	font-size:12px;
	font-style:normal;
	line-height:20px;
	margin-bottom:0;
	margin-left:.3em;
	margin-right:.3em;
	outline:none;
	padding:2px 10px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	vertical-align:middle;
}

.cn-button.bootstrap:hover {
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	-webkit-transition:background-position .1s linear;
	background-color:#003bb3;
	background-position:0 -15px;
	color:#fff;
	transition:background-position .1s linear;
}

#cookie-notice.cookie-notice-visible.cn-effect-slide,#cookie-notice.cookie-revoke-visible.cn-effect-slide {
	-webkit-animation-name:slideInUp;
	animation-name:slideInUp;
}

#cookie-notice.cn-effect-slide {
	-webkit-animation-name:slideOutDown;
	animation-name:slideOutDown;
}

#cookie-notice.cookie-notice-visible.cn-position-top.cn-effect-slide,#cookie-notice.cookie-revoke-visible.cn-position-top.cn-effect-slide {
	-webkit-animation-name:slideInDown;
	animation-name:slideInDown;
}

#cookie-notice.cn-position-top.cn-effect-slide {
	-webkit-animation-name:slideOutUp;
	animation-name:slideOutUp;
}

to {
	-webkit-transform:translate3d(0,-100%,0);
	opacity:0;
	transform:translate3d(0,-100%,0);
	visibility:hidden;
}

#cookie-notice .cookie-notice-container,#cookie-notice .cookie-revoke-container {
	display:block;
}

#cookie-notice.cookie-notice-hidden .cookie-notice-container,#cookie-notice.cookie-revoke-hidden .cookie-revoke-container {
	display:none;
}

#cookie-notice.cookie-notice-visible.cn-effect-none,#cookie-notice.cookie-revoke-visible.cn-effect-none,#cookie-notice.cookie-notice-visible.cn-effect-fade,#cookie-notice.cookie-revoke-visible.cn-effect-fade {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
}

#cookie-notice.cn-effect-none,#cookie-notice.cn-effect-fade {
	-webkit-animation-name:fadeOut;
	animation-name:fadeOut;
}

@media all and (max-width: 900px){
	.cookie-notice-container #cn-notice-text {
		display:block;
		margin-bottom:5px;
	}

	#cookie-notice .cn-button {
		margin-left:5px;
		margin-right:5px;
	}
}
#cn-notice-buttons {
	display:inline-block;
	position: relative;
}
#cookie-notice .cn-button {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: relative;
}
